* text=auto eol=lf
*.ttf -text
LICENSE -text
localization/distribution/payload.json -text
localization/mod/bin/config-extra.cpp -text
localization/mod/bin/stringtable.csv -text
localization/ui/config.cpp -text
localization/wizard/stock-hashes.json -text
localization/multiplayer/stock-hashes.json -text
localization/multiplayer/text-references.json -text
localization/font/OFL.txt -text
localization/font/NOTICE.md -text
localization/font/ChineseTraditional/NOTICE.md -text
